.qr-code {
  width: 30%;
  margin: auto;
  display: block;
}

.hidden {
  display: none;
}

.qr_code,
.shorturl {
  height: 60px;
  width: 150px;
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.slider {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-color: #0D6EFD;
}
