<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1 class="title">
        URl Shortener
    </h1>
    <div class="mainbody">
        <div class="container">
            <div class="header">
                <h3 class="header_title">
                    Paste the URL to be shortened
                </h3>
                <form action="/addurl" method="POST" class="form_url" id="formurl">
                    <input class="forminput" type="text" class="input_form" placeholder="Enter the Link here"
                        name="FullUrl">
                    <button class="formbtn" type="submit">Shorten URL</button>
                </form>
                <div class="body">
                    <div class="header_body">
                        ShortURL is a free tool to shorten URLs and generate short links
                    </div>
                    <div class="header_body">
                        URL shortener allows to create a shortened link making it easy to share
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url Id</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            {{#each url }}
            <tr class="over">
                <td class="overtext">{{this.FullUrl}}</td>
                <td><a class="cl" href="{{this.ShortUrl}}">{{this.ShortUrl}}</a></td>
                <td>{{this.Clicks}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="footer">
        <div class="footertop">
            © 2023 URL SHORTENER - Tool to shorten a long link
        </div>
        <div class="footerbottom">
            <div>ShortURL</div>
            <div>URL Click Counter</div>
            <div>Unshorten URL </div>
            <div>Report Malicious URL</div>
            <div>Terms of Service </div>
            <div>Privacy </div>
            <div>Contact</div>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>