* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.title {
  width: 100%;
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-size: 35px;
  color: #006cff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.mainbody {
  width: 60%;
  margin: auto;
}
.container {
  padding: 40px;
  height: 200px;
  margin-top: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.header_title {
  text-align: center;
  padding: 10px;
}
.form_url {
  display: flex;
  margin-top: 20px;
}
.forminput {
  width: 70%;
  height: 50px;
  padding: 0px 25px;
  outline: none;
  border: 0;
  border: 1px solid gray;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 25px 0px 0px 25px;
}
.formbtn {
  width: 30%;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 0px 25px 25px 0px;
  background-color: #006cff;
  font-weight: 500;
  color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.body {
  margin-top: 10px;
}
.header_body {
  box-sizing: border-box;
  padding: 5px;
  font-weight: 600;
}
table {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 40px;
  max-width: 60%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid black;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}
table tr:hover {
  background-color: #ddd;
}
table th{
  background-color: #006cff;
  color: white;
}
table td :nth-child(1){
  text-overflow: ellipsis;
  overflow-x: hidden;
}
th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
.cl {
  color: #006cff;
  text-decoration: none;
}
.footer {
  width: 100%;
  height: 150px;
  display: flex;
  border-top: 7px solid #006cff;
  flex-direction: column;
  margin-top: 40px;
  background-color: #333333;
  color: #eeee;
  justify-content: space-around;
  align-items: center;
}
.footerbottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}
.mainbody1 {
  width: 60%;
  margin: auto;
}
.container2 {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 40px;
  margin-top: 100px;
  align-items: center;
}
.fullurl {
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
.fullurl > a {
  color: #006cff;
  text-decoration: none;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}
.clicks {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.clicks > span {
  color: #006cff;
}
.returnbtn {
  background-color: #006cff;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
.returnbtn > a {
  color: white;
  text-decoration: none;
}
.footer1 {
  width: 100%;
  height: 150px;
  display: flex;
  border-top: 7px solid #006cff;
  flex-direction: column;
  margin-top: 40px;
  background-color: #333333;
  color: #eeee;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}
